%script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"}
%script{:type => "text/javascript", :src => "/javascripts/lib/modernizr-1.6.min.js"}
%script{:type => "text/javascript", :src => "/javascripts/lib/bootstrap.min.js"}
%script{:type => "text/javascript", :src => "/javascripts/application.js"}